<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <ul class="header-links">
    <li>
        <a href="https://github.com/nielsenramon/chalk" rel="noreferrer noopener" target="_blank" title="Template">
          {% include svg-icon.html icon="template" %}
        </a>
    </li>
    <li>
      <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
        {% include svg-icon.html icon="rss" %}
      </a>
    </li>
  </ul>

</footer>