// =============================================================================
// Light theme
// =============================================================================

// Variables
// =============================================================================

// Shades of gray

$black: #000;
$gray-darkest: #121111;
$gray-darker: lighten($gray-darkest, 15);
$gray-dark: lighten($gray-darkest, 30);
$gray: lighten($gray-darkest, 45);
$gray-light: lighten($gray-darkest, 60);
$gray-lighter: lighten($gray-darkest, 75);
$gray-lightest: lighten($gray-darkest, 85);
$white: #fff;

// Font colors

$base-font-color: $gray-dark;
$base-accent-color: $gray-dark;
$base-accent-highlighted-color: darken($base-accent-color, 15);

// Border color

$base-border-color: $gray-lightest;

// Page specific colors

$body-background: $white;
$header-logo-color: $black;
$header-link-color: $gray-darker;
$header-link-color-hover: $gray-darkest;
$article-header-title-color: $gray-darkest;
$article-header-description-color: $gray-dark;
$article-post-titles-color: $gray-darkest;
$article-footer-color: $gray-light;
$article-footer-link-color: $gray-dark;
$article-footer-link-color-hover: $gray-darkest;
$article-paginator-color-hover: $gray-darkest;

// Imports
// =============================================================================

// Vendors

@import "vendor/normalize";

// Settings

@import "variables";
@import "mixins";
@import "base";

// Layouts

@import "layouts/footer";
@import "layouts/grid";

// Modules

@import "modules/about";
@import "modules/articles";
@import "modules/embed";
@import "modules/header";
@import "modules/highlights-light";
@import "modules/scrollappear";
@import "modules/tags";

// Gists

body .gist .highlight {
    background: #fdf6e3;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s1 .pl-s2,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-vo,
body .gist .pl-vpf {
    color: #657b83;
}
body .gist .pl-c,
body .gist .pl-c span {
    color: #93a1a1;
    font-style: italic;
}
body .gist .pl-mb {
    color: #2aa198;
    font-weight: 700;
}
body .gist .pl-mh .pl-en {
    color: #cb4b16;
    font-weight: 700;
}
body .gist .pl-mi {
    color: #859900;
    font-style: italic;
}
body .gist .pl-c1,
body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-s1 .pl-pse .pl-s2,
body .gist .pl-sv {
    color: #2aa198;
}
body .gist .pl-e,
body .gist .pl-en,
body .gist .pl-ent,
body .gist .pl-s,
body .gist .pl-v {
    color: #268bd2;
}
body .gist .pl-k,
body .gist .pl-mdh,
body .gist .pl-mdr,
body .gist .pl-ml,
body .gist .pl-mm,
body .gist .pl-mo,
body .gist .pl-mp,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s1 .pl-v,
body .gist .pl-s3 {
    color: #859900;
}
body .gist .pl-mh,
body .gist .pl-sc,
body .gist .pl-sr .pl-cce {
    color: #cb4b16;
}
body .gist .pl-mq,
body .gist .highlight-source-css .pl-k {
    color: #93a1a1;
}
body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-sr .pl-sre,
body .gist .pl-src {
    color: #d30102;
}
body .gist .pl-st,
body .gist .highlight-source-c\+\+ .pl-s {
    color: #dc322f;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #657b83;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf,
body .gist .pl-id,
body .gist .pl-ii {
    color: #657b83;
    background: rgba(64, 0, 0, .5);
}

body .gist .gist-meta {
    display: none;
}
